*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header styles    */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.tex-p{
    color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px; 
}
nav ul{
    display: flex;
}
nav li{
    margin-left: 50px;
    list-style: none;

}
